{% extends 'subbase.html' %}

{% load static %}
{% block content %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet" />

<div class="">
              {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-{{message.tags}} alert-dismissible fade show">
                      <strong>{{message.tags}}!</strong> {{message}}
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                  </div>
              {% endfor %}
          {% endif %}

<div class="food_section layout_padding">
  <div class="loginx" style="padding: 15px;margin-top: -100px;">
    <h1 style="text-align: center; color: white;">Sign Up</h1>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required="required">
        <input type="number" id="phoneno" name="phoneno" placeholder="Phoneno" required="required">
        <input type="text" name="email" placeholder="Email(optional)">
        <input type="text" name="address" placeholder="Address" required="required">
        <input type="text" name="pincode" placeholder="Pincode" pattern="[0-9]{6}" maxlength="6" required="required">
          <select class="" style="margin: 2px;" id="" name="type">
            <option value="cricket">Cricket</option>
            <option value="football">Football</option>
            <option value="vollyball">Vollyball</option>
            <option value="kabadi">Kabadi</option>
          </select>
        <input type="password" name="password" placeholder="Password" required="required">
        <button type="submit" id="submit" class="btn btn-primary btn-block btn-large">Sign Up.</button>
      </form>
        <h5 style="text-align: center; margin-top: 10px; color: white;"> Want to login? <a href="/sign-in">SignIn</a></h5>
      </div>
    

<script>
  // $('#submit').click(function(){
  //   $.ajax({
  //   type: 'POST',
  //   url: '{% url "signupajaxview" %}',
  //   dataType: 'json',
  //   data: {
  //       phoneno: $('#inputName').val(),
  //       otp: $('#inputEmail').val(),
  //       csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
  //   },
  //   success: function(response) {
  //       alert($('#inputName').val() +" Account Created!");
  //   }
  // })
</script>
{% endblock %}